<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Dyer Observatory Presents</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" />
</head>

<body style="background-color:#339BFF">
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 style="font-family: Arial, Helvetica, sans-serif; color: #EE4B2B"><b>3rd and Long</b></h1>
        <p style="font-family: Arial, Helvetica, sans-serif; color: #EE4B2B"><b>Become the coach, choose the play and
            formation. The pressure is on, can you convert 3rd and long? </b></p>
      </div>
    </div>
    <form method="POST">
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Play Type</h5>
            <label for="play">Choose a play:</label>
            <select name="play" id="play">
              <option value="pass">Pass</option>
              <option value="rush">Rush</option>
              <option value="fumble">Fumble</option>
              <option value="sack">Sack</option>
              <option value="scramble">Scramble</option>
            </select>
            <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Formation</h5>
            <label for="formation">Choose a formation:</label>
            <select name="formation" id="formation">
              <option value="pass">Pass</option>
              <option value="rush">Rush</option>
              <option value="fumble">Fumble</option>
              <option value="sack">Sack</option>
              <option value="scramble">Scramble</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Yards to Go</h5>
            <label for="togo">Choose Yards:</label>
            <select name="togo" id="togo">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <button>Predict</button>
          </div>
        </div>
      </div>
    </form>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Demographic Info</h3>
      </div>
      <div id="sample-metadata" class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-5">
    <div id="bar"></div>
  </div>
  <div class="col-md-5">
    <div id="gauge"></div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="bubble"></div>
    </div>
  </div>
  </div>
</body>

</html>